/* Algumas definições gerais para não temos erros de margins */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* Padronização do sistema 👍🏼 */
  margin: 0;
  padding: 0;

  /* Centralização tem que ser tudo fio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* Definindo tamanhos para o do aparelho */
  width: 100dvw;
  min-height: 100dvh;

  /* Backgroundzin bunitinho */
  background: #5e2f69;
  /*background: /*url('./texture.png'),\/ linear-gradient(0deg, #be4dff, #3c0849 100%);*/

  /* Configurações da Fonte */
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;

  overflow: hidden;
}

.header {
  text-align: center;
  font-size: 1rem;
  margin-top: -5rem;
}

.header #name {
  display: block;

  width: 10rem;
  left: 80%;
  bottom: 1rem;
  position: relative;

  text-wrap: nowrap;
  font-size: 0.9rem;
  font-weight: 700;

  padding: 0.5rem 1rem;

  --transform: rotate(-15deg);
  transform: var(--transform);

  background-color: #3c084969;
  border: 1px solid #8a1ca569;
  border-radius: 1rem;

  z-index: 1;

  transition: background-color 0.3s;
}


.header {
  user-select: none;
}

.header #name:hover {
  background-color: #3c0849;
  border: 1px solid #8a1ca5;
  color: #f5f5f5;
}

.header #name:active {
  --scale: 1.1;
  transform: scale(var(--scale)) var(--transform);
}


.container {
  width: 80%;
  max-width: 20rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}

/* Glass effect */
.glass-effect {
  background: rgba(237, 96, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(237, 96, 255, 0.3);
}

button,
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #be4dff;
  color: #4e0b50;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
  font-family: 'Inter', 'Roboto', sans-serif;
  user-select: none;

  vertical-align: middle;
  display: flex;

  transition: background-color 0.3s, color 0.3s;
}

button:has(.progress-bg) {
  position: relative;
  overflow: hidden;
}

button:has(.progress-bg) * {
  position: relative;
}

button>img.icon,
.btn>img.icon {
  margin: auto;
  margin-right: 0.5rem;
}

button:has(img.icon),
.btn:has(img.icon) {
  padding-left: 0.6rem;
  text-decoration: none
}

button .progress-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: var(--color, #3c0849);

  transition: width 0.3s;
  z-index: 0;
}

button:active:not(:disabled),
button.active {
  animation: clickBtn 0.3s ease-out;
  background-color: #3c0849;
  color: #f5f5f5;
}

button:disabled {
  cursor: not-allowed;
  background-color: color-mix(in srgb, #ccc, #3c0849 80%);
  color: color-mix(in srgb, #333, #f5f5f5 80%);
}

.ghost {
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #be4dff;
}

.text-dark {
  color: #333;
}

img.social {
  width: 1rem;
  height: 1rem;
}

@keyframes clickBtn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.welcome-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome-page .actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.question-page .question {
  font-size: 1.2rem;
  font-weight: 700;
}

.question-page .options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  flex-direction: column;
  gap: .3rem;
}

.question-page .options .text {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.question-page .options button {
  padding-left: .6rem;
  align-items: center;
}

.question-page .options .icon {
  margin: auto 0;
  margin-right: .6rem;
}

.question-page .options button.correct {
  border: 2px solid #4dffbe;
}

.question-page .options button.error {
  border: 2px solid #ff4d4d;
}

.question-page .options .text span:last-child {
  font-size: 0.8rem;
  font-weight: 400;
  height: 0;

  animation: expand 0.3s ease-out infinite;
}

@keyframes expand {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.question-page .options .text span {
  font-size: 0.8rem;
}

.question-page .actions {
  display: flex;
}

.question-page .actions :last-child {
  margin-left: auto;
}

.end-page {
  display: flex;
  gap: 1rem;
}

.end-page .results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.end-page .stats {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.end-page .stats>span {
  padding: .3rem;
  background-color: #3c0849;
  border: 1px solid #8a1ca5;
  border-radius: .3rem;
}

/* Luzes especiais */
button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.easter-egg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;


  z-index: 1000;
}

.easter-egg img {
  height: 100dvh;
  object-fit: cover;
  user-select: none;

  --transform-x: 0px;
  transform: translateX(var(--transform-x));
  transition: none;
}

.hud-actions {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.jumpscare {
  display: flex;
  gap: 1rem;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }

  .header {
    overflow-x: hidden;
    overflow: visible;
  }

  .header #name {
    left: 60%;
    top: 0;
  }

  .container {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 300px) {}